# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Windows system files
Thumbs.db
Desktop.ini

# macOS system files
.DS_Store

# Python cache
*.log

# Local environment variables
*.env

# Ignore JSON data files created during runtime
data.json
